/* -------------------------------- */
/* Reset agent default CSS          */
/* -------------------------------- */

ul,
ol {
  list-style: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

img {
  display: block;
}



/* Basic */

:root {
  /* Colors */
  --color-accent-100: rgba(226, 89, 49, 1);
  --color-accent-30: rgba(226, 89, 49, 0.3);
  --color-lightcoral-100: rgba(240, 128, 128, 1);
  --color-lightcoral-30: rgba(240, 128, 128, 0.3);
  --color-lightgreen-100: rgba(144, 238, 144, 1);
  --color-lightgreen-30: rgba(144, 238, 144, 0.3);
  --color-lightskyblue-100: rgba(135, 206, 250, 1);
  --color-lightskyblue-30: rgba(135, 206, 250, 0.3);
  --color-accent: #e25931;
  --color-red: #f05230;
  --color-red-30: #f0523050;
  --color-green: #a4d037;
  --color-green-30: #a4d03750;
  --color-blue: #37b4d0;
  --color-blue-30: #37b4d050;
  --color-yellow: #fecd35;
  --color-yellow-30: #fecd3550;
  --color-black: #212121;
  --color-black-30: #21212150;
  --color-darkgray: #15171a;
  --color-midgray: #738a94;
  --color-lightgray: #f1f1f1;
  --color-secondary-text: #979797;
  --color-border: #e1e1e1;
  --color-wash: #e5eff5;

  /* Fonts */
  --system-ui: system-ui,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";


  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* outline: 1px solid var(--color-lightcoral-100); */
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  accent-color: var(--color-accent);
}

body {
  font-size: 1.6rem;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

/* Layout */

.container {
  display: grid;
  min-height: 100vh;
}

.header {
  grid-area: 1 / 2 / 2 / 3;
}

.sidebar {
  grid-area: 1 / 1 / 3 / 2;
}

.main-content {
  grid-area: 2 / 2 / 3 / 3;
}



/* Components */

/* Button */

.btn {
  font-size: 1.6rem;
  padding: 1em 2em;
  border-radius: 0.5rem;
  overflow: hidden;
}

.btn-primary {
  color: var(--color-accent-100);
  background-color: var(--color-accent-30);
  border: 2px solid var(--color-accent-100);
  transition: all 0.3s ease-out;
}

.btn-primary:hover {
  color: #fff;
  background-color: var(--color-accent-100);
}

.btn-secondary {
  color: var(--color-accent-100);
  border: 2px solid var(--color-accent-100);
  position: relative;
}

.btn-secondary::before {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--color-accent-30);
  transition: all 0.3s ease-out;
}

.btn-secondary:hover::before {
  width: 100%;
}


/* NavBar */

.sidebar {
  background-color: var(--color-blue);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.logo {
  display: flex;
  align-items: end;
  gap: 2rem;
}

.logo > img {
  width: 4.8rem;
}

.logo > span {
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.menu-item {
 
}

.menu-item > svg {
  fill: #fff;
  width: 1.6rem;
}

.menu-item > span {
  font-weight: 500;
  color: #fff;
  line-height: 1;
}
